<h1>1. Add Item</h1>


<form action="/addItem/" method="POST">
    {% csrf_token %}
    <label for="item">Item</label><br>
    <input type="text" id="item" name="itemName"><br><br>
    <button type="submit" name="button" class="themebutton btn">Add Item</button>
</form>
<br><br><br><br>

<h1>2. Enter Delay Value</h1>
<form action="/delayFunction/" method="GET">
    {% csrf_token %}
    <label for="item">Delay Value</label><br>
    <input type="text" id="item" name="delay"><br><br>
    <button type="submit" name="button" class="themebutton btn">Trigger 5 concurrent requests</button><p></p>
</form>